* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    min-width: 950px;
    margin: 0 auto;
}

@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages.scss';
@import 'blocks/consultation.scss';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'media';
